<%= render "carousel"%>

<h2>Find your event</h2>
<%= form_tag(events_path, :method => "get", id: "search-form") do %>
  <div class="row">
     <div class="col-lg-12">
      <div class="input-group input-group-lg">
        <%= text_field_tag :search, params[:search], placeholder: "Find event", class: "form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Find", class: "btn btn-primary" %>
        </span>
      </div>
    </div>
  </div>
<% end %>

<h2>List of events</h2>

<% if @events.present? %>
  <%= render @events %>
<% else %>
  <p>There are no events containing the term(s) <%= params[:search] %>.</p>
<% end %>