<h1>Events#new</h1>
<%= form_for @event, url: {action: "create"}, html: {class: "form"} do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.select :min_users, [['1-3', 1], ['4-8', 4], ['9 and more',9]]%>
  <%= f.select :max_users, [['1-3', 1], ['4-8', 4], ['9 and more',9]]%>
  
  <%= f.submit "Add" %>
<% end %>
<p>Find me in app/views/events/new.html.erb</p>
